.p-5 {
  padding: 5px;
}

.m-t-10 {
  margin-bottom: 10px;
}

.m-t-5 {
  margin-bottom: 5px;
}

table, td, th {  
  border: 3px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

th {
  font-size: 20pt;
}

td {
  font-weight: bold;
  color: red;
  font-size: 22pt;
}

.bang-gia-container {
  height: 100%;
  padding: 16px;
}

.search-container {
  padding: 16px;
}

.ant-tabs-nav {
  margin: 0 16px 0 16px !important;
}

.toolbar {
  height: 40px;
  padding: 7px 3px 3px 3px;
  position: absolute;
  top: 0;
  right: 0;
}