.p-5 {
  padding: 5px;
}

.m-t-10 {
  margin-bottom: 10px;
}

.m-t-5 {
  margin-bottom: 5px;
}

.ant-form-item {
  margin-bottom: 5px !important;
}

.ant-layout-sider {
  position: absolute !important;
  background-color: rgb(216, 216, 216) !important;
  height: 100%;
}

.ant-layout-content {
  margin-left: 200px;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.num-pad {
  padding: 16px 40px;
}

.num-pad button {
  margin: 3px;
  width: 70px;
  height: 50px;
  font-size: 14pt;
  font-weight: bold;
}

.panel1 {
  width: 460px;
}

.panel2 {
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  width: calc(100% - 520px);
}

.tag-gia {
  height: 24px !important;
  font-size: 12pt !important;
}

.phieu-tam {
  background-color: #fff;
  padding: 15px;
}

.phieu-cuong {
  background-color: #fff;
  padding: 15px;
}

.phieu-header-row {
  font-weight: bold;
  text-align: center;
}

.center {
  margin: auto;
  text-align: center;
}

.phieu-logo {
  font-size: 24pt;
  color: red;
}

.phieu-title {
  font-size: 20pt;
  color: red;
  font-weight: bold;
}

.qr-code {
  padding: 10px;
  position: absolute;
  top: 100px;
  right: 0;
  font-size: 18px;
}

.phieu-content {
  font-size: 14pt;
}

.phieu-time {
  position: absolute;
  top: auto;
  right: 20px;
}

.ant-table-cell {
  padding: 5px 8px !important;
}

.input-focused {
  border-color: #008cff;
  border-right-width: 1px !important;
  outline: 1;
  box-shadow: 0 0 0 2px rgba(0, 132, 255, 0.404);
}

.phieu-cuong {
  font-size: 13pt;
}

.bangchu:first-letter {
  text-transform: uppercase;
}

.site-card-wrapper {
  padding: 30px;
  background: #ececec;
}

.chitiet-btn button {
  margin-right: 5px;
}

.phieu-tam {
  font-family: 'Times New Roman', Times, serif;
}

.form-chi-tiet .ant-input[disabled] {
  color: black !important;
}

.form-tao-phieu .ant-input[disabled] {
  color: black !important;
}

.hg-theme-default {
  width: 1000px !important;
}


table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative
}

table * {
  position: relative
}

table td, table th {
  padding-left: 8px
}

table thead tr {
  height: 60px;
  /* background: #36304a; */
  /* color: #ececec; */
}

table tbody tr {
  height: 36px
}

table tbody tr:last-child {
  border: 0
}

table td, table th {
  text-align: left
}

table th {
  text-align: center;
}

table th div {
  margin-top: 5px;
}

table td.l, table th.l {
  text-align: right;
}

table td.c, table th.c {
  text-align: center
}

table td.r, table th.r {
  text-align: center
}

.table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5
}

tbody tr {
  font-size: 15px;
  color: rgb(100, 100, 100);
  line-height: 1.2;
  font-weight: unset
}

tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer
}

.column1 {
  width: 260px;
  padding-left: 40px
}

.column2 {
  width: 160px
}

.column3 {
  width: 245px
}

.column4 {
  width: 110px;
  text-align: right
}

.column5 {
  width: 170px;
  text-align: right
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px
}

@media screen and (max-width:992px) {
  table {
    display: block
  }
  table>*, table tr, table td, table th {
    display: block
  }
  table thead {
    display: none
  }
  table tbody tr {
    height: auto;
    padding: 37px 0
  }
  table tbody tr td {
    padding-left: 40%!important;
    margin-bottom: 24px
  }
  table tbody tr td:last-child {
    margin-bottom: 0
  }
  table tbody tr td:before {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0
  }
  table tbody tr td:nth-child(1):before {
    content: "Date"
  }
  table tbody tr td:nth-child(2):before {
    content: "Order ID"
  }
  table tbody tr td:nth-child(3):before {
    content: "Name"
  }
  table tbody tr td:nth-child(4):before {
    content: "Price"
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity"
  }
  table tbody tr td:nth-child(6):before {
    content: "Total"
  }
  .column4, .column5, .column6 {
    text-align: left
  }
  .column4, .column5, .column6, .column1, .column2, .column3 {
    width: 100%
  }
}

.table {
  font-size: 12px;
}

.table .thp {
  padding-right: 17px !important;
  background-color: #d7e6f3;
}
.table .tft {
  padding-right: 17px !important;
  background-color: #f3e5d7;
}
.table .tft .th {
  font-weight: 700;
}
.table .th {
  display: block !important;
  font-weight: 600;
  text-align: center;
  padding: 5px 0 0 0 !important;
}
.table .th input {
  font-size: 9pt;
}
.table .th .ant-input-suffix, span {
  margin: 0 !important;
}
.table .th .ant-input-clear-icon {
  margin: 0 !important;
}
.table .th span, .ant-picker {
  margin-top: 5px !important;
}
.table .th .ant-picker {
  margin-top: 5px !important;
  font-size: 5pt;
}
.table .th .ant-picker-range-separator {
  overflow-y: hidden;
  width: 1px;
}
.table .th .ant-picker-range input {
  overflow-y: hidden;
  font-size: 7pt;
}
.table .th .ant-picker-range .ant-picker-clear {
  overflow-y: hidden;
  font-size: 9pt;
  top: 3px;
  right: 2px;
}
.table .tr:hover {
  color: #555;
  background-color: #daeaec;
  cursor: pointer
}

.pagination {
  margin-top: 5px;
}

.layout-thongke div {
  padding: 0;
  overflow-x: hidden;
}

.styled-select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  }

  .dateFilter {
    overflow-y: hidden;
    /* font-size: 5pt; */
    border: 0;
  }
  .dateFilter .ant-picker-suffix {
    display: none;
  }
  .trangthaiTag {
    padding: 1 !important;
  }

  .selectFilter {
    position: relative !important;
    top: 5px;
    width: 85px !important;
  }
  .ant-select-selector {
    position: relative !important;
    top: 0;
  }

  select {
    display: inline-block;
    width: -webkit-fill-available;
    margin-top: 5px !important;
    box-sizing: border-box;
    padding: 0.1em 0.2em 0.1em 0.2em;
    border: 1px solid #eee;
    font: inherit;
    font-size: 9pt !important;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%); */
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
  }
  .ant-input-affix-wrapper {
    border: 0 !important;
  }